* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(235, 255, 244);
    letter-spacing: 1px;
    padding: 15px;
    background: linear-gradient(190deg, rgb(109, 159, 241), rgb(3, 13, 70));
    height: 100vh;
}

.location {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: rgba(37, 34, 56, 0.5); */
    background: linear-gradient(195deg, rgba(9, 8, 13, 0.1), rgba(37, 34, 56, 0.5));
    padding: 10px 0 10px 10px;
    box-shadow: -5px 3px 5px #0a0a0b;
}

.location-timezone {
    font-size: 45px;
}

.degree-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 40px;
}

.degree-section h2 {
    font-size: 40px;
}

.temperature-description {
    font-size: 20px;
}

.air {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.polution,
.pollen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

em {
    font-size: 10px;
}

.air h2 {
    text-align: center;
    margin: 10px 0px;
}

.air-quality,
.pollen-levels {
    flex: 0 0 45%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.level-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(9, 8, 13, 0.5);
    width: 80%;
    padding: 20px;
    margin: 5px;
    flex: 0 0 30%;
    box-shadow: -7px 9px 10px #000;
}

.pollen-levels .level-box {
    flex: 0 0 20%;
}

.level-box span {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .air {
        flex-direction: column;
    }
    .location-timezone {
        font-size: 30px;
    }
    .icon img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .degree-section span {
        margin: 5px;
        font-size: 20px;
    }
    .degree-section h2 {
        font-size: 30px;
    }
    .temperature-description {
        font-size: 12px;
    }
    .location-timezone {
        font-size: 20px;
    }
    .degree-section h2 {
        font-size: 25px;
    }
    .icon {
        flex: 0 0 20%;
    }
}

@media (max-width: 360px) {
    .degree-section span {
        margin: 5px;
        font-size: 15px;
    }
    .degree-section h2 {
        font-size: 20px;
    }
    .temperature-description {
        font-size: 10px;
    }
    .location-timezone {
        font-size: 15px;
    }
    .degree-section h2 {
        font-size: 15px;
    }
    .air h2 {
        font-size: 20px;
    }
    .level-box {
        padding: 10px;
    }
    .level-box span {
        font-size: 12px;
    }
    .icon {
        flex: 0 0 20%;
    }
}